@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Barlow:wght@300&family=Dosis&family=Oswald&family=Poiret+One&family=Zen+Maru+Gothic:wght@300&family=Lobster&display=swap');

:root {
    --primary-color:#fcdddd;
    --secondary-color: #ffa4a4;
    --link-color: #bf7171;
}

html {
  scroll-behavior: smooth; 
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

h1, h2, h3, h4, h5, p, a {
    margin: 0;
    padding: 0;
}

  /* TITLE PAGE */
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(340deg, 
    rgba(255, 255, 255, 0.5) 10%, 
    rgba(255, 255, 255, 1)
    10%);
    z-index: 2;
    animation: fade-overlay .2s forwards;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

    .video-background {
        position: relative;
        width: 100vw;
        height: 110vh;
        overflow-y: hidden;
    }
    video {
        position: fixed;
        object-fit: cover;
        top:0;
        left:0;
        width: 100%;
        z-index:1;
    }

    .title {
        overflow-x: hidden;
        position:fixed;
        top: 0;
        width: 98%;
        margin: 0 auto;
        padding-top: 200px;
        padding-bottom: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        animation: fade-name 0.1s forwards;
        animation-iteration-count: 1;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        color: rgba(0, 0, 0, 1);
    }

    .name {
        font-family: zen maru gothic;
        font-size: 36px;
        letter-spacing: 3px;
        font-weight: lighter;
        transform: scaleY(1.5);
        }
    
    .sub-title {
        font-family: poiret one;
        font-size: 10px;
        letter-spacing: 3px;
        text-transform: uppercase;
        transform:scale(1.5, 2);
        padding-top: 10px;
    }

    /* ABOUT SECTION */
    
  .about {
    position:relative;
    background-color: var(--primary-color);
    /* background-color: #fff; */
    height: auto;
    width: 90%;
    margin: 0 auto;
    z-index:30;
  }

  .box-2 {
    position: absolute;
    display: none;
    right: 0;
    width: 95%;
    height: 800px;
    background-color: var(--primary-color);
    animation: fade-in 1s forwards;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2s);
  }

  .about-img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 40px 0;
    height: 350px;
    background-color: #ffffff00;
    /* animation: fade-in 1s forwards;
    opacity: 0;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2s); */
    z-index: 20;
  }

  .white-stripe {
    position:absolute;
    width: 70%;
    left: 0;
    background-color:#fff;
    display: flex;
    justify-content: flex-end;
    padding: 2px 80px 1px 0;
    gap: 200px;
  }

  .joke {
    position: absolute;
    top: -49px;
    font-family: oswald, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
    color:var(--primary-color);
    line-height: 1;
  }
  .joke span {
    color:#FFF;
    margin: 0;
    padding: 0;
  }

  .about-container {
    position: relative;
    height: auto;
    width: 90%;
    padding: 10px;
    top: 8%;
  }

  .about-container h2 {
    font-family: alkatra;
    font-size: 20px;
  }

  .about-container p {
    font-family: barlow, sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }

  .about-container span {
    position: relative;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    line-height: 2;
    font-size: 20px;
  }

  .links a {
    color: #000;
    font-family: barlow, sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
  }

  .links a:hover {
    color:var(--link-color);
    text-underline-position: under;
    text-decoration: underline;
  }

  .links {
    position:relative;
    top: 0;
    right: 0;
    width: 100%;
    background-color:#fff;
    padding: 20px 40px 20px 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  #portfolio {
    position: relative;
    height: auto;
    z-index: 25;
    background-color: var(--secondary-color);
    margin: 100px 40px;
    border-left: 20px solid var(--primary-color);
    border-right: 20px solid var(--primary-color);
    padding-bottom: 10px;
  }

  .portfolio-title-div {
    width: 100%;
    top: 5%;
    left: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .portfolio-title {
    left: 50%;
    transform:translate(-50%, -50%);
    position: relative;
    font-family: lobster, sans-serif;
    border-bottom: 3px dotted #a36666;
    width: 120%;
    font-size: 40px;
    z-index: 100;
    text-align: center;
    color: #a36666;
    padding-bottom: 10px;
    margin-bottom: -50px;
    letter-spacing: 1.2;
    text-shadow: 3px 2px 1px rgba(255, 255, 255);
  }

  .portfolio-container {
    position: relative;
    background-color: var(--secondary-color);
    border-left: 20px solid var(--primary-color);
    border-right: 20px solid var(--primary-color);
    width: 60vw;
    height: auto;
    z-index: 40;
    margin: 0 auto;
    overflow-x: hidden;
    display: none;
  }

  .project-container {
    position: relative;
    width: 90vw;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 45;
  }

  .project-container-left-1 {
    display: none;
    justify-content: flex-end;
    top: 8%;
    left: 1%;
  }

  .project-container-right-2 {
    display: none;
    justify-content: flex-start;
    top: 30%;
    right: 1%;
  }

  .project-container-left-3 {
    display: none;
    justify-content: flex-end;
    top: 52%;
    left: 1%;
  }

  .project-container-right-4 {
    display: none;
    justify-content: flex-start;
    top: 74%;
    right: 1%;
  }

  .project-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90vw;
    margin: 100px auto;
    padding: 20px 0;
  }

  .video-mobile {
    position: relative;
    width: 80vw;
    margin-top: -70px;
  }

  .video-left {
    display: none;
    margin-top: -50px;
    margin-left: 60px;
    width: 650px;
    height: 350px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .video-right {
    display: none;
    margin-top: -50px;
    margin-left: 550px;
    width: 650px;
    height: 350px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* .video-right {
    margin-top: -120px;
    margin-left: 520px;
    width: 700px;
    height: 400px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  } */

  .flex-display-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-display-left {
    display: none;
    flex-direction: column;
    margin-right: 30px;
  }

  .flex-display-right {
    display: none;
    flex-direction: column;
    margin-right: 110px;
  }

  .textbox h2 {
    font-family: oswald, sans-serif;
    font-size: 36px;
    padding: 0 5px;
    text-align: center;
  }

  .textbox p {
    font-family: barlow, sans-serif;
    font-size: 28px;
    margin-top: 5px;
    text-align: center;
  }

  .textbox a {
    margin: 20px 0;
    font-family: barlow, sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }

  .textbox a:hover {
    color: var(--link-color);
    text-decoration: underline;
  }

  .skillset-text-right {
    position: absolute;
    bottom: 13px;
  }

  .skillset-text-left {
    position: absolute;
    bottom: 15px;
    left: 260px;
  }

  .skillset-text-left-1 {
    position: absolute;
    bottom: 15px;
    left: 190px;
  }

  .skillset-text-mobile {
    font-family: oswald, sans-serif !important;
    font-size: 20px !important;
  }

  .scallop-up{
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#ffa4a4), color-stop(0.49, #ffa4a4), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    background-size: 49px 100%;
    z-index: 5;
    transform: rotate(180deg);
  }
  .icon-links {
    z-index: 100;
    margin: 100px auto;
    text-align: center;
  }

  .icon-links:hover {
    filter: brightness(90%);
  }

  #contact {
    overflow-x: hidden;
  }

  .contact-circle {
    position: relative;
    top: 7%;
    width: 100%;
    height: 100%;
    background-image: url('uploads/flowers-overlay2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    z-index: 100;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 45%;
    border-radius: 50%;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    top: 24%;
    z-index: 200;
    box-shadow: rgb(0, 0, 0, 0.3) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(255, 255, 255) 10px 10px 20px 15px inset;
  }

  .text-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-family: barlow, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .text-circle h2 {
    font-family: lobster;
    text-transform: capitalize;
    font-size: 42px;
    color: var(--secondary-color);
    text-shadow: 3px 2px 1px var(--link-color);
    letter-spacing: 2px;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }

  .email-icon {
    width: 80px;
  }

  .li-icon {
    width: 90px;
  }

  .ig-icon {
    width: 60px;
  }

  .icons a:hover {
    filter: brightness(90%);
  }

  .email-btn {
    margin-top: 20px;
    padding: 10px 20px;
    color: var(--link-color);
    border: 1px solid var(--link-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
  }

  .email-btn:hover {
    background-color: var(--link-color);
    color: #fff;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0 20px 0;
    background-color: var(--primary-color);
    font-family: lobster, sans-serif;
    font-size: 1.2em;
  }

  .footer span {
    font-family: barlow, sans-serif;
  }

  .footer a {
    position: absolute;
    right: 3%;
  }

  .footer img {
    width: 50px;
  }

  .footer a:hover {
    filter: invert(49%) sepia(37%) saturate(470%) hue-rotate(313deg) brightness(96%) contrast(97%);
  }

  /* RecipeBox.php */
  .recipebox-header {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('uploads/light-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
  }

  .recipebox-header h1 {
    font-family: Lobster, sans-serif;
    color: #3b3b3b;
    font-size: 60px;
    letter-spacing: 1.2px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  }

  .recipebox-desc-container {
    width: 90%;
    font-family: barlow, sans-serif;
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
  }

  .recipebox-body {
    width: 100vw;
    height: auto;
    background-color: rgba(87, 192, 122, 0.4);
  }

  .specs-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
    gap: 7px;
  }

  .specs-list li {
    list-style-type: none;
    font-family: oswald, sans-serif;
    font-size: 14px;
    padding: 10px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .recipebox-title {
    position: relative;
    margin-top: 100px;
    margin-bottom: -15px;
    font-family: lobster, sans-serif;
    font-size: 70px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #3b3b3b;
    text-align: center;
  }

  .recipebox-title-dark {
    position: relative;
    padding-top: 30px;
    margin-bottom: -15px;
    font-family: lobster, sans-serif;
    font-size: 40px;
    width: 100%;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #eee;
    text-align: center;
  }

  .objective-text {
    margin: 0 auto;
    font-family: barlow, sans-serif;
    font-size: 1.2em;
    width: 80%;
    padding: 40px;
    border-radius: 5px;
    line-height: 1.5;
    color: #eee;
    text-align: justify;
  }

  .feature-login {
    height: auto;
    width: 100vw;
    padding-bottom: 100px;
    background-image: url('uploads/dark-background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
  }

  .accordian-container {
    width: 100vw;
    margin: 50px auto;
  }

  .accordian-section {
    position: relative;
    width: 90%;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border: none;
    backdrop-filter: blur(10px);
    border: 1px solid #000;
  }

  .accordian-tab {
    width: 90vw;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: oswald, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    border:none;
    padding: 20px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: max-height 0.2s ease-in;
  }

  .accordian-tab:hover {
    color: var(--link-color);
  }

  .accordian-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  .login-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
  }

  .feature-login video {
    position: relative;
    height: auto;
    width: 80vw;
    box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .login-img {
      border-radius: 5px;
      height: 400px;
      box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.5);
    }

    .points-flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .points {
      font-family: barlow, sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      color: #fff;
    }

    .points li{
      padding: 10px;
      list-style-type: '✓';
    }

    .mysql-media img{
      width: 90%;
    }

    .search-media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 40px;
    }

    .search-flex {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .search-media video:nth-child(1),
    .search-media video:nth-child(2) {
      width: 90%;
      height: auto;
    }
    .search-text {
      font-family: barlow, sans-serif;
      font-size: 1.5em;
      width: 90%;
      padding: 40px;
      border-top: 3px solid #3b3b3b;
      border-radius: 5px;
      color: #fff;
    }

    .search-text h3 {
      font-family: oswald, sans-serif;
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: 2px;
    }

    .css-media {
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0;
    }

    .css-media img {
      width: 75px;
      margin: 5px;
      border-radius: 3px;
    }

    .css-media img:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  
  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 80px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #000;
      background-color: rgba(0,0,0,0.9);
  }
  
  .modal-buttons {
      padding: 10px 0;
      font-weight: bold;
      font-family: Poppins, sans-serif;
      letter-spacing: 1.5px;
      width: 100%;
      height: 30px;
      font-size: 24px;
      display: flex;
      justify-content: space-evenly;
      border: solid 1px #000;
      background-color: #fff;
      position: fixed;
      bottom: 0;
  }

  .close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-family: barlow, sans-serif;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close-modal:hover,
  .next:hover,
  .prev:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  .next {
    position: absolute;
    top: 500px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

  .prev {
    position: absolute;
    top: 500px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .modal-imgs {
    margin: auto;
    display: none;
    height: fit-content;
    max-width: 60%;
  }

  .active-img {
    display: block;
  }

  #caption {
    color: #fff;
    font-family: barlow, sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
    font-style: italic;
  }

  .modal-img4 {
    height: 80%;
  }

  .modal-img8 {
    height: 80%;
  }

     /* NAVBAR */
     #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px 10px 10px;
    }

    .right-nav {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    #navbar a {
      text-decoration: none;
      color: #000;
    }

    .left-nav a {
      font-family: barlow, sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 1.5px;
    }

    .left-nav p {
      font-family: barlow, sans-serif;
      font-size: 15px;
    }

    .right-nav {
      font-family: oswald, sans-serif;
      font-size: 16px;
    }

    .dropdown {
      display: none;
    }
    .dropdown:hover .nav-dropdown-content a {
      display: none;
    }

    .nav-resume-link {
      color: #000;
    }

    .nav-resume-link:hover {
      color:var(--link-color);
      text-decoration: underline;
    }

    .nav-dropdown-content {
      position: absolute;
      right: 205px;
      display: none;
      flex-direction: column;
      font-family: oswald, sans-serif;
      font-size: 30px;
      background-color: #FFF;
      color: #fff;
    }

    .nav-dropdown-content a {
      display: none;
      text-decoration: none;
      color: #000;
      padding: 20px;
    }

    .nav-dropdown-content a:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    .recipebox-links {
      color: #eee;
      font-family: oswald, sans-serif;
      font-size: 2em;
      text-align: center;
      margin: 100px 0;
    }

    .recipebox-links a {
      color: #eee;
      text-decoration: none;
    }

    .recipebox-links a:hover {
      filter: invert(0%) sepia(69%) saturate(494%) hue-rotate(62deg) brightness(83%) contrast(77%);
      text-decoration: underline;
    }

    .svg-icon:hover {
      fill: rgba(87, 192, 122);
    }

    @keyframes fade-name {
        0% {
            color: rgba(0, 0, 0, 1);
        }

        100% {
            color: rgba(0, 0, 0, 0);
        }
    }
    @keyframes fade-overlay {
        0% {
            background-image: linear-gradient(340deg, 
            rgba(255, 255, 255, 0.5) 10%, 
            rgba(255, 255, 255, 1)
            50%);
            padding-top: 270px;
        }
        25% {
            background-image: linear-gradient(345deg, 
            rgba(255, 255, 255, 0.5) 10%, 
            rgba(255, 255, 255, 1)
            55%); 
            padding-top: 500px;
        }
        50% {
            background-image: linear-gradient(350deg, 
            rgba(255, 255, 255, 0.5) 10%, 
            rgba(255, 255, 255, 1)
            55%); 
            padding-top: 700px;
        }
        75% {
            background-image: linear-gradient(355deg, 
            rgba(255, 255, 255, 0.5) 10%, 
            rgba(255, 255, 255, 1)
            55%); 
            padding-top: 1000px;
        }
        100% {
            background-image: linear-gradient(360deg, 
            rgba(255, 255, 255, 0.5) 10%, 
            rgba(255, 255, 255, 1)
            55%);
            padding-top: 2000px;
        }
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }      
    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .name {
        font-size: 80px;
        }
    .sub-title {
        font-size: 12px;
        transform:scale(2, 2);
    }
    .joke {
        right: 0;
        top: -27px;
        margin-right: 10px;
        font-size: 28px;
    }
    .about-img {
        height: 500px;
    }
    .about-container {
        margin-left: 20px;
    }
    .about-container p {
        margin: 20px 0;
        font-size: 24px;
    }
    .links {
        gap: 150px;
        margin-bottom: 60px;
    }
    .links a {
        font-size: 24px;
    }
    #portfolio {
        margin: 100px 100px;
        border-left: 40px solid var(--primary-color);
        border-right: 40px solid var(--primary-color);
    }
    .portfolio-title {
        font-size: 82px;
    }
    .project-container {
        top: -122%;
        background-color:#fcddddaf;
    }
    .project-container-mobile {
        padding: 20px 0 30px 0;
        margin: 150px auto;
    }
    .video-mobile {
        margin-top: -100px;
    }
    .textbox h2 {
        font-size: 42px;
        padding: 10px 5px;
    }
    .textbox p {
        font-size: 30px;
        margin-top: 5px;
        padding: 0 40px;
    }
    .icon-links img {
        width: 170px;
    }
    #contact {
        overflow-x: hidden;
    }
    .contact-container {
        width: 70%;
        height: 50%;
    }
    .text-circle h2 {
        font-size: 72px;
        
    }

  .li-icon {
    width: 110px;
  }
  .email-icon {
    width: 100px;
  }
    /* NAVBAR */
    #navbar {
      padding: 5px 50px 10px 10px;
    }
    .left-nav a {
      font-size: 36px;
    }
    .left-nav p {
      font-size: 25px;
    }
    .right-nav {
      font-size: 36px;
    }
    /* RecipeBox.php */
    .recipebox-header h1 {
      font-size: 100px;
    }
    .recipebox-desc-container {
      width: 80%;
      font-size: 30px;
    }
    .specs-list {
      gap: 20px;
    }
    .specs-list li {
      font-size: 28px;
      padding: 20px 0;
    }
    .recipebox-title-dark {
      padding-top: 50px;
      font-size: 60px;
    }
    .accordian-tab {
      font-size: 28px;
    }
    .login-img {
        height: 600px;
    }
    .points {
      font-size: 2em;
    }
    .search-media video:nth-child(1),
    .search-media video:nth-child(2) {
      width: 70%;
    }
    .search-text {
      font-size: 2em;
    }
    .css-media img {
      width: 140px;
      margin: 5px;
      border-radius: 3px;
    }
    .objective-text {
      font-size: 1.5em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        overflow-x: hidden;
        width: 100vw;       
    }
    .overlay {
        height: 110vh;
    }
    .video-background {
        height: 110vh;
    }
    .title {
        padding-top: 200px;
    }
    .name {
        font-size: 100px;
    }
    .sub-title {
        font-size: 20px;
        transform:scale(2, 2);
    }
    .white-stripe {
        right: 0;
        left:auto;
        top: 5%;
      }
    .about {
        width: 100%;
    }
    .joke {
        top: -45px;
        right: 10px;
        font-size: 40px;
        z-index: 20;
    }
    .about-img {
        margin: 130px 0 20px 0;
        height: 600px;
    }
    .about-container {
        padding: 20px;
    }
    .about-container p {
    font-size: 28px;
    }
    .about-container span {
        font-size: 28px;
    }
    .links {
        left: -60px;
        padding: 30px 5px 30px 60px;
        gap: 200px;
        margin-bottom: 60px;
    }
    .links a {
        font-size: 28px;
    }
    .portfolio-container {
        width: 60vw;
        height: 230vh;
    }
    .project-container {
        top: -103%;
    }
    .textbox p {
        font-size: 32px;
    }
    .textbox a {
        font-size: 32px;
    }

    .contact-container {
        width: 70%;
        height: 50%;
    }
    .text-circle h2 {
        font-size: 100px;
    }
    .li-icon {
        width: 150px;
    }
    .email-icon {
      width: 140px;
    }
    .ig-icon {
        width: 100px;
    }
    .email-btn {
        font-size: 2em;
    }
    .objective-text {
      font-size: 2em;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .overlay {
        height: 100vh;
        padding-top: 270px;
    }
    .video-background {
        width: 100%;
        min-height: 100vh;
    }
    /* video {
        width: 1200px;
    } */
    .title {
        padding-bottom: 250px;
        overflow-x: hidden;
    }
    
    .name {
        font-size: 150px;
        }
    
    .sub-title {
        font-size: 20px;
        transform:scale(2, 2);
    }
    .about {
        position:relative;
        background-color: #fff;
        height: 100vh;
        z-index:15;
        width: 100%;
        margin: 0;
        animation: none;
    }
    
    .box-2 {
        display: block;
    }
    .about-img {
        position: absolute;
        left: 0;
        transform: none;
        bottom: 25%;
        height: 800px;
        margin: 20px 60px 20px 170px;
        background-color: #ffffff00;
        animation: fade-in 1s forwards;
        opacity: 0;
        animation-iteration-count: 1;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -2s);
    }
      .white-stripe {
        right: 0;
        left: auto;
        top: 7%;
        background-color:#fff;
        padding: 1px 80px 1px 0;
      }
    
      .joke {
        position: absolute;
        top: -45px;
        right: 10px;
        font-size: 45px;
      }
      .about-container {
        position: absolute;
        top: 9%;
        right: 11%;
        height: 400px;
        width: 800px;
        padding: 20px;
        margin-bottom: 10px;
        backdrop-filter: blur(10px);
        animation: fade-in 1s forwards;
        opacity: 0;
        animation-iteration-count: 1;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -2s);
      }
      .about-container p {
        font-size: 28px;
      }
    
      .about-container span {
        font-size: 24px;
      }
      .links a {
        font-size: 2em;
      }
      .links {
        position:absolute;
        width: 80%;
        top: 112%;
        left: -1000px;
        right: auto;
        justify-content: flex-end;
        padding: 22px 80px 25px 1000px;
        gap: 200px;
      }
      #portfolio {
        height: 220vh;
        margin: 100px 400px;
      }
      .portfolio-title-div {
        width: 80%;
      }
        .portfolio-title {
            width: 60%;
            font-size: 72px;
            position: absolute;
        }
        .project-container {
            position: absolute;
            height: 300px;
            width: 1200px;
            padding: 30px;
            background-color: rgba(255, 255, 255, 0.5);
            top:0;
        }
        .project-container-left-1 {
            display: flex;
            position: relative;
            top: 8%;
            left: -420px;
        }
        .project-container-right-2 {
            display: flex;
            top: 28%;
            left: 185px;
        }
        .project-container-left-3 {
            display: flex;
            top: 48%;
            left: -420px;
        }
        .project-container-right-4 {
            display: flex;
            top: 68%;
            left: 185px;
        }
        .project-container-mobile {
            display: none;
        }
        .video-mobile {
           display: none;
        }
        .video-left {
            display: block;
        }
        .video-right {
            display: block;
        }
        .flex-display-mobile {
            display: none;
        }
        .flex-display-left {
            display: flex;
        }
        .flex-display-right {
            display: flex;
        }
        .textbox h2 {
            text-align: left;
        }
        .textbox p {
            width: 470px;
            text-align: left;
            padding: 0;
            font-size: 28px;
        }
        .skillset-text-right {
            margin-left: 700px;
        }
        .icon-links {
            margin: 1500px auto 0 auto;
            text-align: center;
        }
        #contact {
            z-index: 200;
          }
        .contact-circle {
            z-index: 10;
        }
        .contact-container {
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);
            width: 40%;
            height: 75%;
        }
        /* RecipeBox.php */
    .recipebox-header h1 {
      font-size: 100px;
    }
    .recipebox-desc-container {
      width: 35%;
      padding: 40px;
      margin-top: 15px;
    }
    .specs-list {
      gap: 50px;
    }
    .specs-list li {
      font-size: 32px;
      padding: 25px 0;
    }
    .recipebox-title-dark {
      padding-top: 100px;
      font-size: 70px;
    }

    .feature-login {
      min-height: 100vh;
      max-width: auto;
      background-size: 100vw;
      background-position: top center;
      padding-bottom: 200px;
    }
    .accordian-section {
      width: 70%;
      margin: 1px auto;
    }
    .accordian-tab {
      width: 70vw;
      font-size: 24px;
    }
    .login-media {
      flex-direction: row;
    }
    .feature-login video {
      height: 400px;
      width: auto;
    }
    .login-img {
      margin-left: 30px;
    }
    .mysql-media img{
      width: 80%;
    }
      .search-flex {
        flex-direction: row;
      }
      .search-media video:nth-child(1),
      .search-media video:nth-child(2) {
        width: 30%;
        height: auto;
      }
      .search-text {
        background-color: rgba(214, 214, 214, 0.5);
        backdrop-filter: blur(10px);
        width: 50%;
      }
      .css-media {
        width: auto;
      }
      .css-media img {
        width: 200px;
      }
    .modal-imgs {
      max-width: 80%;
    }
    .dropdown {
      display: block;
    }

    /* NAVBAR */
     #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 70px 10px 30px;
    }

    .right-nav {
      display: flex;
      justify-content: center;
      gap: 160px;
    }

    #navbar a {
      text-decoration: none;
      color: #000;
    }

    .left-nav a {
      font-family: barlow, sans-serif;
      text-transform: uppercase;
      font-size: 42px;
      letter-spacing: 1.5px;
    }

    .left-nav p {
      font-family: barlow, sans-serif;
      font-size: 24px;
    }

    .right-nav {
      font-family: oswald, sans-serif;
      font-size: 36px;
    }

    .dropdown:hover .nav-dropdown-content a {
      display: block;
    }

    .nav-resume-link {
      color: #000;
    }

    .nav-resume-link:hover {
      color:var(--link-color);
      text-decoration: underline;
    }

    .nav-dropdown-content {
      position: absolute;
      right: 205px;
      display: flex;
      flex-direction: column;
      font-family: oswald, sans-serif;
      font-size: 30px;
      background-color: #FFF;
      color: #fff;
    }

    .nav-dropdown-content a {
      display: none;
      text-decoration: none;
      color: #000;
      padding: 20px;
    }

    .nav-dropdown-content a:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    .objective-section {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .objective-text {
      font-size: 2em;
      width: 50%;
    }

    @keyframes fade-overlay {
      0% {
          background-image: linear-gradient(340deg, 
          rgba(255, 255, 255, 0.5) 10%, 
          rgba(255, 255, 255, 1)
          50%);
          padding-top: 270px;
      }
      25% {
          background-image: linear-gradient(345deg, 
          rgba(255, 255, 255, 0.5) 10%, 
          rgba(255, 255, 255, 1)
          55%); 
          padding-top: 700px;
      }
      50% {
          background-image: linear-gradient(350deg, 
          rgba(255, 255, 255, 0.5) 10%, 
          rgba(255, 255, 255, 1)
          55%); 
          padding-top: 2000px;
      }
      75% {
          background-image: linear-gradient(355deg, 
          rgba(255, 255, 255, 0.5) 10%, 
          rgba(255, 255, 255, 1)
          55%); 
          padding-top: 3000px;
      }
      100% {
          background-image: linear-gradient(360deg, 
          rgba(255, 255, 255, 0.5) 10%, 
          rgba(255, 255, 255, 1)
          55%);
          padding-top: 4000px;
      }
    }
        /* SCROLLBAR */
    /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        border: 1px solid #e4e4e4;
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-image: linear-gradient(#febaba, var(--secondary-color));
        border-radius: 10px;
    }


}