@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap');
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3d3d3d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2326bb47' fill-opacity='0.2' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

/* Title */
.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
}
video {
    position: absolute;
    top:0;
    left:0;
    width: 1200px;
}
.container {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 65%;
}
.name {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-size: 60px;
    margin: 0;
}
.subname {
    font-size: 1.5em;
    margin-left: 120px;
    letter-spacing: 2px;
    font-family: Macondo, sans-serif;
}
/* animated elipsis */
.subname:after {
  display: inline-block;
  animation: dotty steps(1,end) 2s infinite;
  content: '';
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

/* home arrow */
.arrows {
    position: absolute;
    color: #fff;
    font-size: 40px;
    left: 50%;
    top: 85%;
    animation: arrows 3s infinite
}

@keyframes arrows {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

/* navbar */
.navbar {
    position: sticky;
    width: 100%;
    top:0;
    left:0;
    padding-bottom: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 50px 10px #021306;
    z-index: 10;
    margin-top: -10px;
    border-bottom: 1px solid rgb(75, 113, 82);
}
.nav-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    padding-top: 20px;
    margin: 0;
}
.nav-list li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255,255,255, 0);
    border-top: 1px solid rgba(255,255,255, 0);
}
.nav-list li:hover {
    border-bottom: 1px solid rgb(196, 196, 196);
    border-top: 1px solid rgb(196, 196, 196);
}
a {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

.section-title {
    font-family: Macondo, sans-serif;
    font-size: 48px;
    padding-top: 100px;
    text-align: center;
    margin: 0;
}
/* About Me Section*/

#about-me {
    text-align: center;
    height: 100vh;
    margin-top: 50px;
}

.profile-img {
    border-radius: 6px;
    border: 3px solid #fff;
    width: 300px;
    height: 300px;
}
.about-me-p {
    width: 40%;
    margin:  0px 30px;
    letter-spacing: 1.2px;
    text-align: left;
    font-family: poppins;
}
.about-me-p span {
    font-family: Macondo, sans-serif;
    font-size: 48px;
    text-align: center;
}
.about-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.resume {
    position: absolute;

    bottom: -610px;
}

/* skillset and icons */
.skillset-title {
    font-family: Macondo, sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin-top: 75px;
}
hr {
    margin: 0 auto;
    width: 40%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.fa-brands, .fa-solid {
    font-size: 60px;
    margin: 20px;
    transition: transform .2s linear;
}
.fa-brands:hover, .fa-solid:hover {
    transform: scale(1.2);
}

/* Projects Section */
#projects {
    position: relative;
    height: 100vh;
}

.container-group {
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* we do this because the carousel needs to be 100% width in order for the aspect ratio effect to work */
.carousel-container {
    max-width: 980px;
    width: 95%;
}

/* This is the actual carousel. Overflow hidden acts as a mask */
.carousel {
    position: relative;
    width: 100%;
    /* width of image is 1200px, height is 600px */
    padding-top: calc(600 / 1200 * 100%);
    overflow: hidden;
    background-color: red;
}
.carousel-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* carousel circles */
.left-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 147px;
    cursor: pointer;
}

.left-arrow:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.right-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 147px;
    cursor: pointer;
}

.right-arrow:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.chevron {
    width: 25px;
    height: 25px;
    border: solid rgba(232, 232, 232, 0.5);
    border-width: 10px 10px 0 0;
}

.chevron.right {
    transform: rotate(45deg);
}
.chevron.left {
    transform: rotate(-135deg);
}

.left-arrow:hover .chevron,
.right-arrow:hover .chevron {
    border-color: #e6e6e6;
}

.circle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: rgb(11,11,11);
}

.circle {
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.circle-fill {
    background-color: #fff;
}

.text-container {
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 45px;
    left: 0;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px #000;
    text-align: center;
    background: rgb(11,11,11);
    background: linear-gradient(0deg, rgba(11,11,11,1) 40%, rgba(14,14,14,0) 100%);
    padding-top: 20px;
}

.text-container p:nth-child(1) {
    margin: 10px 100px;
    font-size: 3em;
    font-family: lobster;
}

.text-container p:nth-child(2) {
    margin: 10px 100px 20px 100px;
    font-family: poppins;
    letter-spacing: 1.2px;
}

.carousel-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* animations */
@keyframes toRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes toLeft {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}
@keyframes comeRight {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes comeLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

button {
    background: rgb(70, 158, 86);
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

button:hover {
    filter:brightness(90%);
}

/* contact section */
#contact {
    background-image: url('https://images.unsplash.com/photo-1443724700460-763f42d9d6ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
    background-position: center;
    background-size:cover;
    margin: 20px 0px;
}
.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.6);
}
.contacts-title {
    font-family: Macondo, sans-serif;
    font-size: 48px;
    text-align: center;
    color: black;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 60px;
}

.links i {
    color: black;
}

.links i:hover {
    color:rgb(66, 49, 75);
}

/* Footer */
.footer {
    margin: 20px;
    padding: 0;
    font-family: poppins;
    letter-spacing: 1.2px;
    text-align: center;
}

/* Media queries */

/* mobile phones */
@media screen and (max-width: 600px) {
    .video-background {
        height: 100vh;
        width: 100vw;
    }

    video {
        object-fit: cover;
        object-position: 35%;
        margin-top: -1px;
    }

    .container {
        top:245px;
        left: 25%;
        text-align: center;
    }

    .name {
        font-size: 36px;
    }
    
    .subname {
        font-size: 1.2em;
        margin-left: 0px;
        text-align: left;
    }

    .arrows {
        position: absolute;
        color: #fff;
        font-size: 20px;
        left: 40%;
        top: 85%;
    }
    .navbar {
        display: none;
    }
    .resume {
        display: none;
    }
    #about-me {
        text-align: center;
    }
    
    .profile-img {
        border-radius: 6px;
        border: 3px solid #fff;
        width: 200px;
        height: 200px;
    }
    
    .about-me-p {
        width: 75%;
        margin-bottom: 30px;
        font-size: 1.2em;
        letter-spacing: 1.2px;
        text-align: center;
    }
    .about-me-p span {
        font-size: 36px;
    }
    #about-me-p[data-aos="fade-left"] {
        transform: translateY(50px);
        }
    
    .about-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skillset-title {
        font-size: 36px;
        margin-top: 80px;
    }
    .fa-brands, .fa-solid {
        font-size: 40px;
        margin: 10px;
        transition: transform .2s linear;
    }

    #projects {
       margin-bottom: 100px;
    }

    #projects .section-title {
        font-size: 48px;
        padding-top: 300px;
        margin-top:190px;
    }
    

    .container-group {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text-container p:nth-child(1) {
        margin: 10px 100px;
        font-size: 1.7em;
        font-family: lobster;
    }
    
    .text-container p:nth-child(2) {
        margin: 10px 100px 20px 100px;
        letter-spacing: 1.2px;
        font-size: 0.5em;
    }
    
}