body {
    color: white;
    margin: 0;
    background-color: #021306;
}

/* .video-background {
    width: 100vw;
    min-height: 100vh;
    overflow-y: hidden;
} */

/* video {
    position: absolute;
    top:0;
    left:0;
    width: 1200px;
} */


.container {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 65%;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    font-size: 60px;
    margin: 0;
}

.container p {
    font-size: 1.5em;
    margin-left: 120px;
    letter-spacing: 2px;
    font-family: Macondo, sans-serif;

}